.container {
    width: 1200px;
    display: grid;
    grid-template: 1fr/ 200px 4fr;
    margin: 0 auto;
}

/*
.container {
    width: 1200px;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    flex-wrap: wrap;
}*/

.min-height {
    min-height: 75%;
}

.start {
    justify-content: flex-start;
}

.column {
    flex-direction: column;
    justify-content: flex-start;
}