.navbar {
    background-color: #39393F;
    padding: .2em;
    border: 2px solid #151516;
}

.list {
    display: flex;
    justify-content: space-around;
    /*background-color: lightgray;*/
    list-style: none;
    align-items: center;
}

.item {
    margin-right: 1em;
}

.item a {
    color: #fff;
    text-decoration: none;
}

.item a:hover {
    background-color: #2B2B33;
    display: block;
    height: 30px;
    border: solid 2px #F4CA01;
}

.navbarlogo {
    width: 100px;
    height: 50.36px;
}
