.navbar {
    /*display: flex;
    justify-content: space-between;*/
    background-color: #2F2F39;
    padding: 0.8em;
}

.list {
    display: flex;
    justify-content: space-around;
    /*background-color: lightgray;*/
    list-style: none;
    align-items: center;
}

.item {
    margin-right: 1em;
}

.item a {
    color: #fff;
    text-decoration: none;
}

.item a:hover {
    background-color: #2B2B33;
    display: block;
    height: 1px;
    border-bottom: solid 2px #F4CA01;
}